<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>17/08/29 19:45:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseSetUp.openBrowser(java.lang.String)[pri:0, instance:com.newtours.testcases.NewToursTest@7cd62f43]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/08/29 19:45:29</td>   <td>8985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewToursTest.setUp()[pri:0, instance:com.newtours.testcases.NewToursTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/08/29 19:45:29</td>   <td>8986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewToursTest.testBookFlightSuite1()[pri:0, instance:com.newtours.testcases.NewToursTest@7cd62f43]">testBookFlightSuite1</td> 
  <td>main@517210187</td>   <td></td> </tr>
</table>
